<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Red Social de Fotos</title>
    
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container alert alert-warning">
        <h2>Formulario de registro Mustela Lutreola </h2>
    </div>
    <form>
        <table class="table table-striped table-bordered">
         <tr>
            <th>Tipo de Identificación </th>
            <td>
                <select required class="form-control">
                  <option value="">Seleccione</option>
                  <option value="RC">RC</option>
                  <option value="TI">TI</option>
                  <option value="CC">CC</option>
                  <option value="CE">CE</option>
                  <option value="VISA">VISA</option>
                  <option value="PAS">PAS</option>
                </select>
            </td>  
            <th>Nuemero de Identificación</th>
            <td><input required type="number" class="form-control"></td>
         </tr>
         <tr>
            <th>Nombres</th>
            <td><input required type="text" class="form-control"></td>
            <th>Apellidos</th>
            <td><input  required type="text" class="form-control"></td>
         </tr>
         <tr>
            <th>Direccion</th>
            <td><input type="text" class="form-control"></td>
            <th>Telefono</th>
            <td><input type="number" class="form-control"></td>
         </tr>
         <tr>
            <th>Sexo</th>
            <td>
                <select  class="form-control">
                    <option value=""></option>
                    <option value="Masculino">Masculino</option>
                    <option value="Femenino">Femenino</option>
                    <option value="No Binario">No Binario</option>
                </select>
            </td>
            <th>Email</th>
            <td><input required type="Email" class="form-control"></td>
        </tr>
        </table>
        <center>
            <button type="submit" class="btn btn-success">Enviar</button>
            <button type="reset" class="btn btn-danger">Cancelar</button>
        </center>
    </form>
</body>
</html>